//colors------------------------------------------------
$red:#6C3232;
$white:#F0F0F0;
$purple:#5D525D;
$black:#282828;


//fonts------------------------------------------------
@font-face {
	font-family:'IFC-Railroad';
	src:url('../../styles/fonts/ifc-railroad.ttf');
}

$primary:'IFC-Railroad', 'Impact', 'Bookman','Garamond';
$secondary:'Raleway', 'Trebuchet', 'Verdana';


//global------------------------------------------------
html, body {
	background-color:$black;
	font-size:16px;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, p, a, div {
	margin:0;
	padding:0;
}

div.wrapper {
	margin:0 auto;
	max-width:85.375rem;
}

div.clear {
	clear:both;
}


//header------------------------------------------------
header {
	background-image:url('../../media/header.jpg');
	background-position:40% 0%;
	background-repeat:no-repeat;
	// background-size:cover;
	height:54.0625rem;
	width:100%;

	div.container {
		margin:0 auto;
		padding-top:3.87rem;
		text-align:center;
		max-width:54.78571429rem;
		width:90%;

		h1.subheader {
			color:$white;
			font-size:2.9375rem;
			line-height:3.4375rem;
		}

		h1 {
			color:$red;
			font-family:$primary;
			font-size:7.3125rem;
			line-height:6.25rem;
			margin-top:2.125rem;
		}

		h2.date {
			color:$white;
			font-family:$primary;
			font-size:3.875rem;
			line-height:4.375rem;
			margin-top:1.0625rem;
		}

		h2.location {
			color:$white;
			font-family:$primary;
			font-size:2.3125rem;
			line-height:2.6875rem;
			margin-top:0.125rem;
		}

	}

}


//main------------------------------------------------
main {
	background-image:url('../../media/wood.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding:4.8125rem 0;
	width:100%;
	text-align:center;

	div.paper {
		background-image:url('../../media/paper.jpg');
		background-size:cover;
		height:auto;
		margin:0 auto;
		padding:77px 0;
		width:84%;
		-webkit-box-shadow: 0px 0px 47px 2px rgba(24,24,24,1);
-moz-box-shadow: 0px 0px 47px 2px rgba(24,24,24,1);
box-shadow: 0px 0px 47px 2px rgba(24,24,24,1);

		div.container {
			margin:0 auto;
			max-width:40.5rem;
			width:90%;

			h3 {
				color:$red;
				font-family:$primary;
				font-size:4.1875rem;
				margin-top:3.5625rem;
			}

			ul {

				li {
					color:$purple;
					list-style:none;
					font-family:$secondary;
					font-size:1.25rem;
					line-height:2.0625rem;
				}
			}

			p.list {
				line-height:2.0625rem;
				margin-top:1.0625rem;
			}

			p {
				color:$purple;
				font-family:$secondary;
				font-size:1.25rem;
				line-height:1.875rem;
				margin:1.0625rem auto 0 auto;
				max-width:27rem;
			}

			h4 {
				color:$red;
				font-family:$primary;
				font-size:3.5625rem;
				margin-top:3.5625rem;
			}

			h5 {
				color:$purple;
				font-family:$primary;
				font-size:2.3125rem;
				margin-top:0.5625rem;
			}

			img.divider {
				height:1.8125rem;
			}

			img.divider-2 {
				height:1.8125rem;
				transform: rotate(180deg);
			}

		}

	}

}


//mobile rules------------------------------------------------
@media only screen and (max-width:407px) {
	html,body {
		font-size:12px;
	}

}

@media only screen and (max-width:320px) {
	html,body {
		font-size:10px;
	}

}

@media only screen and (max-width:252px) {
	html,body {
		font-size:7px;
	}

}


















